{% extends 'ADMIN/index.html' %}
{% block body %}

<body>
<form action="/edit_medcode" method="post" enctype="multipart/form-data" name="form1" id="form1">
  <h1 align="center">EDIT MEDICINE</h1>
  <div align="center">
    <table width="622" height="359" border="1"   class="table table-dark">
      <tr>
        <th width="157" scope="row">MEDICINE</th>
        <td width="420"><label>
          <input type="text" name="textfield"  required value="{{ val.name }}"  class="btn btn-outline-primary" />
        </label></td>
      </tr>
      <tr>
        <th scope="row">IMAGE</th>
        <td><label><img src="/media/{{ val.image }}" width="100dp" height="100dp" class="btn btn-outline-primary"  />
          <input type="file" name="file"    required />
        </label></td>
      </tr>
      <tr>
        <th scope="row">PRICE</th>
        <td><label>
          <input type="text" name="textfield2"  required value="{{ val.price }}"  class="btn btn-outline-primary" />
        </label></td>
      </tr>
      <tr>
        <th scope="row">QUANTITY</th>
        <td><label>
          <input type="text" name="textfield3" required value="{{ val.stock }}"  class="btn btn-outline-primary"  />
        </label></td>
      </tr>
      <tr>
        <th scope="row">MANUFACTURE DATE </th>
        <td><label>
          <input type="DATE" name="textfield4" required  value="{{ md }}" class="btn btn-outline-primary"  />
        </label></td>
      </tr>
      <tr>
        <th scope="row">EXPIRY DATE </th>
        <td><label>
          <input type="DATE" name="textfield5" required value="{{ ed }}"  class="btn btn-outline-primary"/>
        </label></td>
      </tr>
      <tr>
        <th scope="row">DETAILS</th>
        <td><label>
            <input type="textarea" name="textarea" required value="{{ val.details }}"  class="btn btn-outline-primary"  />

        </label></td>
      </tr>
      <tr>
        <th colspan="2" scope="row"><label>
          <input type="submit" name="Submit" value="UPDATE" class="btn btn-outline-success"  />
          </label>
          <div align="center"></div>
        <div align="center"></div></th>
      </tr>
    </table>
  </div>
  <p>&nbsp;  </p>
</form>
</body>
{% endblock %}

