{% extends 'PHARMACY/index.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="/selcdistri" >
  <h1 align="center">SEND REQUEST</h1>
  <div align="center">
    <table width="545" height="203" border="1" class="table table-dark">
      <tr>
        <th scope="row">ENTER REQUIRED QUANTITY
          <label>
          <input type="text" name="textfield" required   class="btn btn-outline-primary"/>
          </label>
        </th></tr><tr>
        <th scope="row"><label>
          <select name="select">
              <option>select distributors</option>
              {% for i in val %}
              <option value="{{ i.id }}">{{ i.name }}</option>
              {% endfor %}
            </select>
                    <input type="submit" name="Submit" value="SEND"  class="btn btn-success"/>

        </label>
          <div>
            </div>
       </th>
      </tr>
      </table>
  </div>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
</form>
</body>
{% endblock %}
