<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
{% load static %}
<html>

<head>
	<title>OP Registration Form a Responsive Widget Template :: w3layouts</title>
	<!-- Meta tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="OP Registration Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements"
	/>
    <style>
        p {
  color: #FFFFFF;
}
    </style>
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- //Meta tags -->
	<!-- Stylesheet -->
	<link rel="stylesheet" href="static/registration/css/jquery-ui.css" />
	<link href="static/registration/css/style.css" rel='stylesheet' type='text/css' />
	<!-- //Stylesheet -->
	<!--fonts-->
	<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600" rel="stylesheet">
	<!--//fonts-->
</head>

<body>
	<!--background-->
	<h1> DISTRIBUTOR REGISTRATION </h1>
	<div class="register-form-w3layouts">
		<!-- Form starts here -->
		<form action="disregistercode" method="post" enctype="multipart/form-data">
			<h3 class="sub-heading-agileits">Personal Details</h3>
			<div class="main-flex-w3ls-sectns">
				<div class="field-agileinfo-spc form-w3-agile-text1">
					<input type="text" name="textfield" required pattern="[A-Z a-z .]{2,25}" placeholder="First Name">
				</div>
				<div class="field-agileinfo-spc form-w3-agile-text2">
					<input type="text" name="textfield2" required pattern="[A-Z a-z .]{1,25}" placeholder="Last Name" >
				</div>
			</div>
            <div class="field-agileinfo-spc form-w3-agile-text2">
					<select class="form-control" name="radiobutton">
						<option>GENDER</option>
						<option value="Male">Male</option>
						<option value="Female">Female</option>
					</select>
				</div>
			<div class="main-flex-w3ls-sectns">
				<div class="field-agileinfo-spc form-w3-agile-text1">
					<input type="email" name="textfield6" placeholder="EMAIL" required="">
				</div>
				<div class="field-agileinfo-spc form-w3-agile-text2">
					<input type="text" name="textfield5" required pattern="[6789][0-9]{9}" placeholder="PHONE NUMBER" >
				</div>
			</div>

            <div class="field-agileinfo-spc form-w3-agile-text1">
					<input type="text" name="textarea" required placeholder="PLACE">
				</div>
            <div class="field-agileinfo-spc form-w3-agile-text1">
					<input type="text" name="textfield3" required placeholder="POST">
				</div>
            <div class="field-agileinfo-spc form-w3-agile-text1">
					<input type="text" name="textfield4" required pattern="[0-9]{6}" placeholder="PIN">
				</div>
            <div class="field-agileinfo-spc form-w3-agile-text1">
					<p style="{color:#FFFFFF;}"> PROOF <input type="file" name="file" required placeholder="proof"title = "Choose a Proof"></p>
				</div>
            <div class="field-agileinfo-spc form-w3-agile-text1">
					<input type="text" name="textfield7" required placeholder="USERNAME">
				</div>
            <div class="field-agileinfo-spc form-w3-agile-text1">
					<input type="password" name="textfield8" required placeholder="PASSWORD">
				</div>

{##}
{#			<div class="field-agileinfo-spc form-w3-agile-text">#}
{#				<textarea name="textarea" placeholder="PLACE..."></textarea>#}
{#			</div>#}
{#<div class="field-agileinfo-spc form-w3-agile-text">#}
{#				<textarea name="textarea" placeholder="POST..."></textarea>#}
{#			</div>#}
{#<div class="field-agileinfo-spc form-w3-agile-text">#}
{#				<textarea name="textarea" placeholder="PIN..."></textarea>#}
{#			</div>#}


			<input type="submit" value="SIGNUP">

			<div class="clear"></div>
		</form>
		<!--// Form starts here -->
	</div>
	<!--copyright-->

	<!--//copyright-->
	<script type="text/javascript" src="static/registration/js/jquery-2.2.3.min.js"></script>
	<!-- Calendar Js -->
	<script src="static/registration/js/jquery-ui.js"></script>
	<script>
		$(function () {
			$("#datepicker,#datepicker1,#datepicker2,#datepicker3").datepicker();
		});
	</script>
	<!-- //Calendar Js -->

</body>

</html>