{% extends 'loginindex/index.html' %}
{% block body %}

<body>
<form action="/disregistercode" method="post" enctype="multipart/form-data" name="form1" id="form1" >
  <h1 align="center">DISTRUBUTOR REGISTRATION</h1>
  <div align="center">
    <table width="438" height="355" border="1">
      <tr>
        <th scope="row">FIRST NAME </th>
        <td><label>
          <input type="text" name="textfield" required pattern="[A-Z a-z .]{2,25}"/>
        </label></td>
      </tr>
      <tr>
        <th scope="row">LAST NAME </th>
        <td><label>
          <input type="text" name="textfield2" required pattern="[A-Z a-z .]{1,25}" />
        </label></td>
      </tr>
      <tr>
        <th height="25" scope="row">GENDER</th>
        <td><label>
          <input name="radiobutton" type="radio" value="MALE" checked/>
          MALE
          <input name="radiobutton" type="radio" value="FEMALE" />
          FEMALE
          <input name="radiobutton" type="radio" value="OTHERS" />
          OTHERS</label></td>
      </tr>
      <tr>
        <th height="25" scope="row">EMAIL</th>
        <td><label>
          <input type="email" name="textfield6" required/>
        </label></td>
      </tr>
      <tr>
        <th scope="row">PLACE</th>
        <td><label>
          <textarea name="textarea" required  ></textarea>
        </label></td>
      </tr>
      <tr>
        <th scope="row">POST</th>
        <td><label>
          <input type="text" name="textfield3" required />
        </label></td>
      </tr>
      <tr>
        <th scope="row">PIN</th>
        <td><label>
          <input type="text" name="textfield4" required pattern="[0-9]{6}"/>
        </label></td>
      </tr>
      <tr>
        <th scope="row">PHONE NO </th>
        <td><label>
          <input type="text" name="textfield5" required pattern="[6789][0-9]{9}"/>
        </label></td>
      </tr>
      
      <tr>
        <th scope="row">PROOF</th>
        <td><label>
          <input type="file" name="file" required/>
        </label></td>
      </tr>
      <tr>
        <th scope="row">USERNAME</th>
        <td><label>
          <input type="text" name="textfield7" required/>
        </label></td>
      </tr>
      <tr>
        <th scope="row">PASSWORD</th>
        <td><label>
          <input name="textfield8" type="password" required/>
        </label></td>
      </tr>
      <tr>
        <th colspan="2" scope="row"><label>
          <input type="submit" name="Submit" value="SIGN UP" />
        </label></th>
      </tr>
    </table>
  </div>
  <p>&nbsp;  </p>
</form>
</body>
{% endblock %}
