<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/logincode">
  <label></label>
  <h1 align="center">LOGIN</h1>
  <div align="center">
    <table width="435" height="226" border="1">
      <tr>
        <th width="115" scope="row">username</th>
        <td width="304"><label>
          <input type="text" name="textfield" required />
          </label>        </td>
      </tr>
      <tr>
        <th scope="row">password</th>
        <td><label>
          <input type="password" name="textfield2" required />
          </label>        </td>
      </tr>
      <tr>
        <th colspan="2" scope="row"> <label></label>
          <label>
          <input type="submit" name="Submit" value="LOGIN" />
          </label>        </th>
      </tr>
      <tr>
        <th colspan="2" scope="row"><a href="DISTRIBUTORNREGISTERATION">DISTRIBUTOR REGISTERATION</a></th>
      </tr>
      <tr>
        <th colspan="2" scope="row"><div align="center"><a href="PHARMACYREGISTERATION">PHARMACY REGISTERATION</a></div></th>
      </tr>
    </table>
  </div>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
</form>
</body>
</html>
