{% extends 'DISTRIBUTOR/index.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="">
{#  <h1 align="center" class="style1">DISTRIBUTOR HOME</h1>#}
{#  <div align="center">#}
{#    <table width="333" height="174" border="1">#}
{#      <tr>#}
{#        <th width="312" scope="row"><a href="/drequest">SEND REQUEST/VIEW STATUS</a></th>#}
{#      </tr>#}
{#      <tr>#}
{#        <th scope="row"><a href="/DISTRIBUTORPACCEPTREJECT">ACCEPT/REJECT PHARMACY REQUEST</a></th>#}
{#      </tr>#}
{##}
{#      <tr>#}
{#        <th scope="row"><a href="/">LOGOUT</a></th>#}
{#      </tr>#}
{#      </table>#}
{#  </div>#}
  <p>&nbsp;  </p>
</form>
</body>

{% endblock %}